$color1 : #5cb85c;

.cor1 {
    color: orange;
}
.cor2 {
    color: blue;
}
.cor3 {
    color: yellow;
}
.cor4 {
    color: blue;
}

nav {
    min-height: 80px;
    padding: 10px;
}

.navbar-dark {
    .navbar-brand {
        font-weight: 500;
        color: $color1;
    }
}

.navbar-dark {
    .navbar-nav{
        .nav-link {
            color: #FFF;
            &:hover {
                color: $color1;
                border: 1px solid $color1;
                border-radius: 5px;
            }
        }    
    }   
}

#form1 {
    position: relative;
    fieldset:not(:first-of-type) {
        display: none;
    }
    #progress {
        margin-bottom: 30px;
        overflow: hidden;
        counter-reset: step;
        li {
            list-style-type: none;
            float: left;
            width: 33.33%;
            position: relative;
            text-align: center;
        }
        li:before {
            content: counter(step);
            counter-increment: step;
            display: block;
            width: 100%;
            line-height: 50px;
            border-radius: 5px;
            background: white;
            color: #333;
            margin: 0 auto 10px auto;
        }
        li:after {
            content: '';
            width: 100%;
            background: white;
            height: 2px;
            position: absolute;
            top: 9px;
            left: -50%;
            z-index: -1;            
        }
        li:first-child:after {
            content: none;
        }
        li.ativo:before{
            background: $color1;
            border: 1px solid #FFF;
            color: white;
            text-shadow: 0 1px 0;
        }
        li.ativo:after {
            background: $color1;
            border: 1px solid #FFF;
            color: white;
            text-shadow: 0 1px 0;            
        }
    }
}

li {
    font-weight: 500;
}

.next {
    float: right;
}
.prev {
    float: left;
}
.acao {
    float: right;
}

a {
    &:hover {
    text-decoration: none;
    }
}

.dataTables_wrapper {
    margin-top: 20px;
}

nav {
    .container {
        p {
            color: #FFF;
        }
    }
}


.card {
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 25px -15px rgba(0,0,0,0.9);
    -moz-box-shadow: 10px 10px 25px -15px rgba(0,0,0,0.9);
    box-shadow: 10px 10px 25px -15px rgba(0,0,0,0.9);
    a {
        color: #FFF;
        background-color: $color1;
        border-radius: 15px;
    }
}